@import "./scss/variables";
@import "./scss/resetCSS";

@import "./scss/uiComponents/input";
@import "./scss/uiComponents/select";
@import "./scss/uiComponents/slider";
@import "./scss/uiComponents/tooltip";
@import "./scss/uiComponents/datepicker";
@import "./scss/uiComponents/labelClose";
@import "./scss/uiComponents/switchBtn";

@import "./scss/bsComponents/msgBBSBox";
@import "./scss/bsComponents/msgContentBar";
@import "./scss/bsComponents/Form/switch";

@import "./scss/customComponents/dropdown";
@import "./scss/customComponents/tabs";
@import "./scss/customComponents/modal";
@import "./scss/customComponents/pagination";
@import "./scss/customComponents/table";
@import "./scss/customComponents/btnGroup";
@import "./scss/customComponents/button";
@import "./scss/customComponents/input";
@import "./scss/customComponents/popinfo";
@import "./scss/customComponents/dateTimePicker";
@import "./scss/customComponents/select";
@import "./scss/customComponents/rec-item";
@import "./scss/customComponents/input-group";
@import "./scss/customComponents/loading";
@import "./scss/customComponents/selectedListWrap";
@import "./scss/customComponents/depTree";

@import "./scss/animation";

@import "./scss/public";
@import "./scss/login";
@import "./scss/main";
@import "./scss/other";
@import "./scss/dataFetch";
@import "./scss/systemSettingsCenter";
@import "./scss/dataClean";
@import "./scss/notFound";
@import "./scss/stockPrediction";
@import "./scss/saleClues";
@import "./scss/publishApp-modal";
@import "./scss/dashboard";
@import "./scss/roleManagement";
@import "./scss/dataPermission";
@import "./scss/img";

@import "../route/dashboard/Dashboard/graphic/theme";
@import "../route/dashboard/Dashboard/graphic/showDashboardListModal/theme";
@import "../route/dashboard/Dashboard/dashboardMain/sortCanvasModal/theme";
@import "../route/dashboard/Dashboard/dashboardMain/isShowCanvasModal/theme";
@import "../jComponent/modal/theme";
@import "../jComponent/button/theme";
@import "../jComponent/font_icon/theme";
@import "../jComponent/select/theme";
@import "../jComponent/checkbox/theme";
@import "../jComponent/table/theme";
html, body {
    height: 100%;
}
.container-fluid {
  padding: 0;
  min-height: $minHeight;
  height: 100%;
  min-width: $minWidth;
  width: 100%;
}
