/*
 * @Author: jason.tian 
 * @Date: 2017-09-17 21:27:34 
 * @Last Modified by: jason.tian
 * @Last Modified time: 2017-09-17 22:20:09
 */

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0}
body{
    font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
    font-size: 14px;
}
.Container{
    height: 100%;
}
.SideMenu{

}
.HeaderAndMainContent{

}
.HeaderContainer{

}
.MainContentContainer{

}
