.addDataSource .modal-footer .cancel {
  float: left;;
}
.addDataSource .modal-body {
  padding-left: 30px;
}
.addDataSource .itemName {
  display: inline-block;
  width: 82px;
  padding-right: 12px;
}
.addDataSource .itemName span {
  float: right;
  width: 100px;
  text-align: right;
}
.addDataSource .itemValue {
  width: 514px;

}
.addDataSource .hint {
  width: 514px;
  color: #999999;
  font-size: 10px;
  padding-left: 82px;
  margin-top: 3px;
}
.addDataSource .hint.err {
  color: #FE3824;
}
.addDataSource .line_name {
  height: 88px;
}
.addDataSource .line_name .itemName {
  float: left;
}
.addDataSource .line_name .itemValue {
  display: inline-block;
  height: 32px;
}
.addDataSource .line_name .hint {
    padding-left: 0;
}
.addDataSource .line_title {
  color: #2D435C;
  font-size: 14px;
}
.addDataSource .line,
.addDataSource .line_describe {
  margin-top: 16px
}
.addDataSource .line .itemValue {

}
.addDataSource .line_describe .itemName {
  float: left;
}
.addDataSource .line_describe .itemValue {
  height: 156px;
}
.addDataSource .line_body_mysql,
.addDataSource .line_body_neo4j
{
  display: none
}
.dataWarehouse .port{
  margin-left: 40px;
} 
.addDataSource .line_body_mysql.isOpen,
.addDataSource .line_body_neo4j.isOpen
{
  display: block
}

/* OwningGroup  start */
.tdValue-detail {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tdValue-detail > .value {
    width: 100%;
    height: 100%;
}
.tdValue-detail .detail {
  position: fixed;
  // display: none;
  width: 430px;
  min-height: 90px;
  font-size: 10px;
  white-space: normal;
  // word-break: break-all;
  word-wrap: break-word;
    border: 2px solid #dedede;
    border-radius: 10px;
    background-color: #F2F2F2;
    z-index: 9;
    padding: 5px 10px;
}
/* OwningGroup  end */
