.c404class {
  background: url("../images/404.png") no-repeat;
  width: 600px;
  height: 676px;
  margin: 0 auto;
}
.login_header {
  height: 5px;
  width: 100%;
  background: url("../images/letter.jpg");
}
