.popinfo {
  font-size: 18px;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 15px #000;
  z-index: 9999;
}
.popinfo.selectInfo{
  width: 747px;
  color: #FFF;
  background: #BEC2C3;
  padding: 8px 5px 0px 14px;
  border: none;
  box-shadow: none;
  font-size: 12px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.popinfo.selectInfo button.close {
  font-size: 16px;
  padding-bottom: 6px;
}
.popinfo > span {
    margin-right: 20px;
}
.popinfo button > span {
    color: #000;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 150px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #EF5C00;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
