
/*滑条 slider start*/
.slider {
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 6px;
  background-color: #e9e9e9;
}
.slider-btn {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid $EB3449;
  background-color: #fff;
  z-index: 2;
}
.slider-btn:hover {
  background-color: $EB3449;
}
.slider-btn-span {
  position: absolute;
  top: 5px;
}
.slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: $FB4154;
  z-index: 1;
}
/*slider end*/
